.title-container > *:first-child {
  font-family: "Ka-blam";
  font-size: 90px;
  letter-spacing: 0px;
}

.title-container {
  font-family: "Manga-speak";
  letter-spacing: 4px;
}
.title-container .start-btn {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 35px;
  padding: 0.7rem;
}
.title-container .start-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.lanyard-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.lanyard-position {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* wrapper del Lanyard */
.lanyard-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* centriamo nel canvas... */
  align-items: center;
  transform: translateX(-35vw); /* ...poi lo spostiamo a sinistra */
  transform-origin: center;
  pointer-events: auto;
}

/* opzionale, ma chiaro */
.lanyard-position .lanyard-wrapper {
  pointer-events: auto;
}
